<div class="flex bg-gray-200">
    <!-- Sidenav -->
    <div class="bg-white w-64 flex flex-col">
        <div class="h-16 bg-blue-500 text-white flex items-center justify-center">
            Carwash
        </div>
        <ul class="flex-1 px-4 divide-y divide-gray-300">
            <a routerLink="/vehiculos" routerLinkActive="active" class="block py-2">Vehículos</a>
            <a routerLink="/servicios" routerLinkActive="active" class="block py-2">Servicios</a>
            <a routerLink="/clientes" routerLinkActive="active" class="block py-2">Clientes</a>
        </ul>
    </div>
</div>