<div class="flex bg-gray-200">
    <!-- Sidenav -->
    <div class="bg-white w-64 flex flex-col">
        <div class="h-16 bg-blue-500 text-white flex items-center justify-center">
            Carwash
        </div>
        <ul class="flex-1 px-4 divide-y divide-gray-300">
            <li>
                <a href="#" class="block py-2">Clientes</a>
            </li>
            <li>
                <a href="#" class="block py-2">Servicios</a>
            </li>
            <li>
                <a href="#" class="block py-2">Vehiculos</a>
            </li>
        </ul>
        <div class="px-4 py-2">
            <button class="flex items-center space-x-3 text-black rounded px-4 py-2">
                <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M10 2a8 8 0 100 16 8 8 0 000-16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                        clip-rule="evenodd"></path>
                </svg>
                <span>Cerrar sesión</span>
            </button>
        </div>
    </div>
</div>