<div class="grid grid-cols-3 gap-4" *ngIf="servicios; else loading">
    <div *ngFor="let servicio of servicios" class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="{{servicio.imagen}}" alt="Imagen de {{servicio.nombre}}">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{servicio.nombre}}</div>
        <p class="text-gray-700 text-base">{{servicio.descripcion}}</p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">s/{{servicio.precio}}</span>
      </div>
    </div>
  </div>
  
  <ng-template #loading>
    <p>Cargando servicios...</p>
  </ng-template>